# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/

# Scrapy stuff
.scrapy

# Sphinx documentation
/docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pyre / pytype
.pyre/
.pytype/

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Visual Studio Code
.vscode/

# JetBrains
.idea/
*.iml

# Node / Frontend
node_modules/
.npm/
.pnp/
.pnp.js
.nvm/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Parcel
.parcel-cache/

# Local secrets
*.env.local
*.env.*.local

# Ignore the billing frontend for now
billing-frontend/ 